body{
  background-color: #B85C80;
  color: darkgrey;
}
.well {
  background-color: rgba(45, 21, 87, 0.4);
  border: none;
  color: grey;
  text-align: center;
}

.well p {
  margin-left: 23%;
}

ul.no-bull {
  list-style-type: none;
}

.img-round {
  border: 20px solid #19063A;
}
.img-round, .img-round img {
  width: 300px;
  height: 300px;
  -webkit-border-radius: 300px; /* Saf3+, Chrome */
  border-radius: 300px; /* Opera 10.5, IE 9 */
  -moz-border-radius: 300px;  Disabled for FF1+
}

button.btn-success {
  background-color: #19063A;
  color: #EFF9A6;
  border: darkgrey;
}

.detail-page {
  /*-webkit-align-content: center;
  align-all: center;*/
  background-color: rgba(45, 21, 87, 0.1);
  /*padding-left: 10%;*/
  text-align: center;
  font-family: futura;
  text-shadow: 2px 1px 10px rgba(45, 21, 87, 1.0);
}
