ul.no-bull {
  list-style-type: none;
}

.img-round {
  border: 20px solid #c7b89e;
}
.img-round, .img-round img {
  width: 300px;
  height: 300px;
  -webkit-border-radius: 300px; /* Saf3+, Chrome */
  border-radius: 300px; /* Opera 10.5, IE 9 */
  -moz-border-radius: 300px;  Disabled for FF1+ 
}
