
<h1> Details for: {{model.title}}</h1>
{{imperfection-detail imperfection=model}}

{{update-imperfection imperfection=model updateImperfection="updateImperfection"}}
<button class="btn btn-xs btn-success" {{action 'delete' imperfection}}>too perfect...delete!</button>
