<h2>Imperfections</h2>
<ul class='no-bull'>
  {{#each model.imperfections as |imperfection|}}
    {{imperfection-tile imperfection=imperfection updateImperfection="updateImperfection" destroyImperfection="destroyImperfection"}}
  {{/each}}
</ul>
